// Styling for icons including basic colors and common sizing.

:global {
    .dibsvg-icon {
        height: 30px; /* default height, gets over-ridden by style rule in component */
    }

    .dibsvg-svg {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        fill: currentColor;
    }
}
