// Styling for icons including basic colors and common sizing.

$icon-color-dark : #21242b;
$icon-color-light : #b19b57;

.dibsvg-icon {
    display: inline-block;
    fill: $icon-color-dark;
    height: 30px; /* default height, gets over-ridden by style rule in component */

    .dibsvg-svg {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    &.gold {
        fill: $icon-color-light;
    }
}
