@import "./icons.scss";

$border-color : #eee;
$text-color : #aaa;

.icon-container {
    padding : 10px;
    margin: 10px;
    display : block;
    float: left;
    border: 1px solid $border-color;
}
.dibsvg-icon {
    width : 50px;
    height : 50px;
}


.sample-container {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    margin : 0px 15% 0px 15%;
    color : $text-color;
    hr {
        border: 0px;
        border-top: 1px solid #ddd
    }
    #bb-icons {
        clear: both;
        padding-top: 17px;
    }
}