# being behind a proxy has potential for appending
# the port to the default registry URL
# by having the registry URL set here,
# this will ensure the port doesn't get added
# https://github.com/npm/registry/issues/335#issuecomment-393552098
# ☝️uses the CLI to add the registry but this does the same
registry=http://registry.npmjs.org
