@import '~dibs-scss-vars/colors';
@import '~dibs-scss-mixins/scss/mixins/_fonts';

html, body {
    margin: 0;
}

:global {
    .sample-container {
        box-sizing: border-box;
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 20px 10%;
        color: $color-dark-primary;
        @include font-family-body;
    }
}

.container {
    padding: 0 18px 54px;
    max-width: 1440px;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    @include font-family-body-header;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

    .link {
        color: $color-buyer-secondary;
        text-decoration: none;

        &:hover {
            color: $color-buyer-primary;
        }
    }
}

.logo {
    width: 100px;
    height: 40px;
    color: $color-dark-primary;
    margin: 0;
}

.logoCopy {
    @include font-family-header;
    margin-left: 9px;
    font-size: 28px;
    font-style: italic;
    line-height: 1;
}

.logoWrapper {
    display: flex;
    align-items: center;
}
